/*.chat-box > ul > li:nth-of-type(odd) {*/
/*    text-align: left;*/
/*}*/
/*.chat-box > ul > li:nth-of-type(even) {*/
/*    text-align: right;*/
/*}*/
.chat-container .status-box {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: 0 auto;
  border: 1px solid #bcb5c9;
  background-color: #fff;
}
.chat-container .status-box span {
  width: 100%;
  margin: 0 auto;
}
.chat-container .status-box span:nth-child(2n) {
  background-color: #d9eeee;
}
.chat-container .status-box span span {
  width: 44%;
  margin: 0 auto;
}
.chat-container .manual-control-box {
  background-color: #c6e3de;
  width: 96%;
  margin: 0 auto;
  border: 1px solid #b5c9b8;
}
.chat-container .chat-window {
  margin: 0 auto;
  border: 1px solid orange;
  width: 96%;
  padding: 0;
  height: 70vh;
  display: flex;
  flex-wrap: nowrap;
}
.chat-container .chat-window .chat-users {
  width: 25%;
  border: 1px solid yellow;
  display: block;
  padding: 0;
  color: black;
  font-size: 18px;
  margin: 0;
}
.chat-container .chat-window .chat-users ul {
  list-style-type: none;
  margin: 0;
  width: 100%;
  padding: 0;
}
.chat-container .chat-window .chat-users ul li {
  width: 100%;
  border-bottom: 1px solid #99ccff;
  padding: 0 0 0 1vw;
  text-align: left;
  margin: 0;
}
.chat-container .chat-window .chat-users ul li button {
  border-color: #99ccff;
  width: 100%;
  height: 4vh;
}
.chat-container .chat-window .chat-box {
  width: 50%;
  border: 1px solid black;
  display: block;
  padding: 0;
  color: black;
  font-size: 18px;
  position: relative;
}
.chat-container .chat-window .chat-box .messages-container {
  overflow-y: scroll;
  height: 64vh;
}
.chat-container .chat-window .chat-box .messages-container .messages-inner-container {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.chat-container .chat-window .chat-box .messages-container .messages-inner-container .message-row {
  width: 92%;
  padding: 0 4%;
  list-style: none;
  margin: 0;
  display: flex;
}
.chat-container .chat-window .chat-box .messages-container .messages-inner-container .message-row .message-balloon {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chat-container .chat-window .chat-box .messages-container .messages-inner-container .message-row .message-balloon .message-box {
  display: flex;
  flex-direction: column;
}
.chat-container .chat-window .chat-box .messages-container .messages-inner-container .message-row .message-balloon .message-box .message-text-box {
  border-radius: 8px;
  padding: 0.6vh 1vw;
  display: flex;
  flex-direction: column;
  background-color: #c8facd;
  font-size: 0.875rem;
  line-height: 1.57143;
  font-weight: 400;
  color: #212b36;
}
.chat-container .chat-window .chat-box .messages-container .messages-inner-container .message-row .message-balloon .message-box .time {
  padding: 0;
  margin: 5px;
  font-size: 10px;
}
.chat-container .chat-window .chat-box .messages-container .messages-inner-container .message-row .message-balloon .profile-photo {
  margin: 1vh;
  border-radius: 50%;
  border: 1px solid blue;
  width: 6vh;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.chat-container .chat-window .chat-box .messages-container .messages-inner-container .message-row .message-balloon .profile-photo img {
  width: 100%;
  height: 100%;
}
.chat-container .chat-window .chat-box .messages-container .messages-inner-container > .message-row.sent {
  text-align: right;
  justify-content: flex-end;
}
.chat-container .chat-window .chat-box .messages-container .messages-inner-container > .message-row.received {
  text-align: left;
  justify-content: flex-start;
}
.chat-container .chat-window .chat-box .messages-container .messages-inner-container > .message-row.received .message-balloon {
  flex-direction: row-reverse;
}
.chat-container .chat-window .chat-box .messages-container .messages-inner-container > .message-row.received .message-balloon .message-box .message-text-box {
  background-color: #f4f6f8;
}
.chat-container .chat-window .chat-box > .input {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
}
.chat-container .chat-window .chat-box > .input > input {
  width: 80%;
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
}
.chat-container .chat-window .chat-box > .input > button {
  width: 20%;
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
}

.App-logo {
  width: 10%;
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=Chat.css.map */
