/*.chat-box > ul > li:nth-of-type(odd) {*/
/*    text-align: left;*/
/*}*/
/*.chat-box > ul > li:nth-of-type(even) {*/
/*    text-align: right;*/
/*}*/

$total_height: 100vh;
$second_header_height: 6vw;
$thin_border_color: #dedee8;
$header_bg_color: #c5ddd2;
$smallest_font_size: .6vw;
$smaller_font_size: .8vw;
$small_font_size: 1vw;
$small_medium_font_size: 1.2vw;
$medium_font_size: 1.4vw;
$large_medium_font_size: 1.6vw;
$lage_font_size: 1.8vw;
$lager_font_size: 2vw;
$lagest_font_size: 2.2vw;

.online-dot {
  width: .5vw;
  height: .5vw;
  border-radius: 50%;
  align-self: center;
  background-color: #07f107;
}

.chat-container {
  .debug-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 1vw;
    height: 1vw;
    border: none;
    margin: 0;
    padding: 0;
  }

  .control-panel {
    display: flex;
    flex-direction: column;
    width: 20vw;
    position: absolute;
    top: 4vw;
    right: 2vw;
    margin: 0 auto;
    border: 1px solid #bcb5c9;

    background-color: #fff;

    div {
      &:nth-child(2n) {
        background-color: #d9eeee;
      }

      width: 100%;
      margin: 0 auto;

      div {
        width: 44%;
        margin: 0 auto;
      }
    }

    .manual-control-box {
      display: flex;
      flex-direction: column;
      background-color: #c6e3de;
      margin: 0 auto;
      border: 1px solid #b5c9b8;
    }
  }


  .profile-photo {
    margin: 1vh;
    border-radius: 50%;
    //border: 1px solid blue;
    width: 4vw;
    height: 4vw;
    display: flex;
    justify-content: center; // align center horizontally
    align-items: center; // align center vertically
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;

    }
  }

  .profile-photo {
    margin: 1vw 1vw 0 1vw;
    border-radius: 50%;
    //border: 1px solid blue;
    width: 4vw;
    height: 4vw;
    display: flex;
    justify-content: center;  // align center horizontally
    align-items: center;    // align center vertically
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;

    }
  }

  .chat-window {
    margin: 0 auto;
    border: 1px solid #b3c5c4;
    width: 96%;
    padding: 0;
    height: 90vh;
    display: flex;
    flex-wrap: nowrap;

    .chat-users {
      width: 25%;
      border-right: 1px solid #e5efee;
      display: block;
      padding: 0;
      //background-color: #efeeec;
      color: black;
      margin: 0;
      //height: 80vh;
      //position: relative;

      .chat-list-header {
        display: flex;
        flex-direction: row;
        //background-color: $header_bg_color;
        color: white;
        border-bottom: 1px solid #f4f4f9;
        height: $second_header_height;
      }

      button {
        //border: none;
        background-color: white;
        width: 100%;
        height: 5.5vw;

        display: flex;
        flex-direction: row;
        //color: white;
        font-size: $small_font_size;
        border: 0;
        border-bottom: 1px solid $thin_border_color;

        .profile-photo {
          width: 3.5vw;
          height: 3.5vw;
          margin: 0.6vw;
        }

        .profile-photo.online {
          border: 1px solid #cbef8e;
        }

        .room-info {
          margin: 0.6vw 1vw 1vw 0.2vw;

          .room-name {
            font-size: $small_medium_font_size;
            font-weight: bold;
            text-transform: capitalize;
            text-align: left;
          }

          .last-chat-message {
            display: flex;
            flex-direction: row;
            font-size: $small_font_size;
            margin-top: 0.4vw;

            div {
              margin-right: 0.2vw;
            }
          }
        }
      }
      button.selected {
        background-color: #c9a7eb;
      }
    }

    .chat-box {
      width: 50%;
      border-right: 1px solid #e5efee;
      padding: 0;
      //background-color: #efeeec;
      color: black;
      font-size: $lage_font_size;
      //margin: 0 auto;
      //height: 80vh;
      //position: relative;
      display: flex;
      flex-direction: column;


      .messages-window {
        height: 100%;
        flex-grow: 1;
        overflow: hidden;

        .messages-container {
          width: 100%;
          height: 100%;
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;

          .messages-container-header {
            display: flex;
            flex-direction: row;
            //background-color: $header_bg_color;
            //color: white;
            margin-bottom: 2vh;
            border-bottom: 0.1vw solid #d8d1d1;
            height: $second_header_height;

            .profile-photo {
              width: 4vw;
              height: 4vw;
            }
            .header-info {
              margin: 1vw .4vw;
              flex-grow: 1;

              .room-name {
                font-size: $large_medium_font_size;
                font-weight: bold;
                text-transform: capitalize;
                text-align: left;
              }

              .info {
                display: flex;
                flex-direction: row;
                flex-grow: 1;
                font-size: $small_font_size;
                margin-top: 0.4vh;

                .member {
                  text-align: left;
                }

                .status > div {
                  display: flex;
                  flex-direction: row;
                  flex-grow: 1;
                  margin-right: 1vw;
                }

                div {
                  margin-right: 0.4vh;
                }
              }
            }
          }

          .messages-inner-container {
            overflow-y: scroll;
            //height: 76vh;
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
            flex-grow: 1;

            .message-row {
              width: 92%;
              padding: 0 4%;
              //height: 8vh;
              list-style: none;
              //border: 1px solid blue;
              //margin: 0;
              margin-bottom: .4vw;
              display: flex;
              //flex-direction: column;

              .message-container {
                //border: 1px solid red;
                max-width: 80%;
                display: flex;
                flex-direction: row;
                align-items: end; // align center vertically

                .message-box {
                  display: flex;
                  flex-direction: row-reverse;

                  .message-balloon {
                    //border: 1px solid green;
                    border-radius: .8vw;
                    padding: .4vw .6vw;
                    display: flex;
                    flex-direction: column;
                    //width: 100%;
                    background-color: rgb(200, 250, 205);
                    font-size: $small_medium_font_size;
                    line-height: 1.57143;
                    font-weight: 400;
                    color: rgb(33, 43, 54);
                    min-width: 6vw;

                    .message-text-box {
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;
                      text-align: left;

                      .time {
                        font-size: $smaller_font_size;
                        text-align: right;
                        margin-left: 1vw;
                        align-self: end;
                      }
                    }

                    .info {
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;

                      .sender {
                        text-transform: capitalize;
                        font-weight: bold;
                        color: purple;
                        font-size: $small_medium_font_size;
                      }


                    }
                  }

                  .debug-info {
                    padding: .2vw;
                    margin: .4vw;
                    font-size: $smallest_font_size;
                    //border: 1px solid #e7e7ea;
                  }

                }

                .profile-photo-container {
                  width: 5vw;

                  .profile-photo {
                    width: 3vw;
                    height: 3vw;
                  }
                }
              }

            }

            .message-row.non-repeat {
              margin-top: 1.6vw;
            }

            > .message-row.sent {
              text-align: right;
              justify-content: flex-end;
            }

            > .message-row.received {
              text-align: left;
              justify-content: flex-start;

              .message-container {
                flex-direction: row-reverse;

                .message-box {
                  flex-direction: row;

                  .message-balloon {
                    background-color: #f7e2ed;
                  }
                }
              }
            }
          }

        }
      }

      > .input {
        width: 100%;
        height: 3vw;
        margin: 0;
        padding: 0;
        border-top: .1px solid $thin_border_color;
        //position: absolute;
        //bottom: 0;
        //left: 0;

        > input {
          width: 80%;
          height: 100%;
          margin: 0;
          padding: 0;
          border: none;
        }

        > button {
          width: 20%;
          height: 100%;
          margin: 0;
          padding: 0;
          border: none;
        }
      }
    }
  }

}


.App-logo {
  width: 10%;
  padding: 0;
  margin: 0;
}
